<div>
    <div><h3>Amount:  @ViewBag.amt</h3></div>
    <div>Account Head:  @Html.DropDownList("AcHead",new SelectList(ViewBag.heads,"AcHeadID","AcHead1"))<br />
        <br />
        Amount: @Html.TextBox("Amount")
    </div>
</div>