@model List<TrueBooksMVC.Models.PDCOutstandingVM>
@{
    ViewBag.Title = "IndexPDCOutstandings";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .tblbackground {
        background-color: #fff;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
        border-radius: 10px;
    }

    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }

    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
</style>
<script>
    $(function () {
          var startdate = '@Session["FyearFrom"].ToString()';
        var enddate = '@Session["FyearTo"].ToString()';
        var sd = new Date(startdate);
        var ed = new Date(enddate);
        $(".datepicker").datepicker({
            dateFormat: 'dd-M-yy', maxDate: '0',
            changeYear: true, changeMonth: true, minDate: sd,
            maxDate: ed,

        });



        $("#btnsearch").click(function () {
            var from = $("#txtMatureDate").val();

            //  vaif(r newfrom = from.getDay() + "/" + from.getMonth() + "/" + from.getFullYear();
            //  var newto = dto.getDay() + "/" + dto.getMonth() + "/" + dto.getFullYear();
            //alert(newfrom);
            //alert(newto);
            if ($("#txtMatureDate").val() == "") {
                $("#alert").show();
                return false;

            }
            else {

                $.ajax({

                    url: "@Url.Action("GetPDCOutstandings", "AccountingModule")",
                    data: { iMatureDate: from },
                    type: "GET",
                    dataType: "json",
                    success: function (data) {

                        $("#divPDCReminderList").html(data.view);
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
            }

         });



        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });



    });

</script>



<section class="content-header">
    <h1 class="headingfont">PDC Outstandings</h1>
</section>

<section class="content">



    <div class="searchdiv">
        <div id="alert" style="color:red;display:none;margin-left:10px;">*Please Select Matured Date</div>
        <div class="row no-margin">


            <div class="col-md-12">
                <label class="headinglabel required">Matured Date:</label>

                <input type="text" class="datepicker form-control" id="txtMatureDate" />
            </div>
        </div>
        <div class="row no-margin" style="padding-top:10px">
            <div class="col-md-12 butdivs">
                <input type="button" value="Search" id="btnsearch" class="btn btn-primary btnwidt" />
            </div>


        </div>
    </div>


    <div class="row no-margin" style="padding-top: 20px">
        <div class="col-md-12 tblbackground">
            <div class="row">
                <div class="col-md-12" id="divPDCReminderList">
                </div>
            </div>
        </div>
    </div>



</section>
