
@{
    ViewBag.Title = "EDI";
    Layout = Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}
<style>
    .searchdiv {
        background-color: #fff;
        width: 100%;
        margin: 0 auto;
        max-width: 500px;
        padding: 20px;
        margin-top: 50px;
        border-radius: 10px;
        box-shadow: 0 9px 23px rgba(0, 0, 0, 0.09), 0 5px 5px rgba(0, 0, 0, 0.06) !important;
    }
    .headinglabel {
        font-family: Calibri;
        font-size: 16px;
        color: #2b2929 !important;
    }
    .btn {
        display: inline-block;
        padding: 7px 53px;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(".link").hide();

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });
   

    $("#btnsearch").click(function () {
        debugger;
        
        var rotationNo = $("#JobID option:selected").text();
           
            $.ajax({
                url: "@Url.Action("GetRotationNo", "EDI")",
                data: { RotationNo: rotationNo},
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        if (data == true) {
                            $(".link").show();
                        }
                    },
                    error: function () {
                        alert("Failed! Please try again.");
                    }
                });
    });
   
    });

</script>

<section class="content-header">
    <h1 class="headingfont">EDI</h1>
</section>

<div class="searchdiv">
  <div class="row no-margin" style="padding-top: 10px">
                  <div class="col-md-12">
                        <label class="headinglabel">Rotation No</label>
                        @Html.DropDownList("JobID",new SelectList(ViewBag.rotationNo,"JobID","RotationNo"),"Select", new { @class = "form-control" })

                        </div>
       </div>
<br />
      <div class="row no-margin">
       <div class="col-md-12">
            <button id="btnsearch" class="btn btn-primary">Print</button>
             <button type="button" class="btn btn-primary link"  onclick="location.href='@Url.Action("CreateFile", "EDI")'" >
   Download
  
</button>
        </div>
      </div>
    </div>
      

@*@Html.ActionLink("Download EDI File", "CreateFile", "EDI", new { @class="link"})*@