<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="defaultconnection" connectionString="data source=(local);initial catalog=ShippingProduction;integrated security=true;" providerName="system.data.sqlclient" />
    <add name="shipping_finalentities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=(local);initial catalog=ShippingProduction;integrated security=true;application name=entityframework;multipleactiveresultsets=true&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=shippingtest1@#;" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=shippingtest1@#;;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=ShippingVIMP30_11_2016;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=ShippingVIMP30_11_2016;Integrated Security=True;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=Shipping_11_12_2016_08_18;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Shipping_11_12_2016_08_18;Integrated Security=True;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_9F57C4_shippingdev;User Id=DB_9F57C4_shippingdev_admin;Password=Shippingdev1@#;" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5028.SmarterASP.NET;Initial Catalog=DB_9F57C4_shippingdev;User Id=DB_9F57C4_shippingdev_admin;Password=Shippingdev1@#;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=Shipping_11_12_2016_08_18;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Shipping_11_12_2016_08_18;Integrated Security=True;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=tr!angles0ft;" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=tr!angles0ft;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=shippingtest1@#;" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5021.SmarterASP.NET;Initial Catalog=DB_9F57C4_ShippingTest;User Id=DB_9F57C4_ShippingTest_admin;Password=shippingtest1@#;;application name=entityframework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=shipping_11_12_2016_08_18;integrated security=True;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=shipping_11_12_2016_08_18;integrated security=True;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ShippingProduction;integrated security=True;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=INFOPEAK\SQL2012;Initial Catalog=ShippingProduction;user id=sa;password=tb@2020;" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=INFOPEAK\SQL2012;Initial Catalog=ShippingProduction;user id=sa;password=tb@2020;application name=entityframework;multipleactiveresultsets=true&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="DefaultConnection" connectionString="data source=infopeak\sql2012;user id=sa;password=tb@2020;;initial catalog=shippingproduction;integrated security=true;" providerName="system.data.sqlclient" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=infopeak\sql2012;user id=sa;password=tb@2020;initial catalog=shippingproduction;integrated security=true;application name=entityframework;multipleactiveresultsets=true&quot;" providerName="system.data.entityclient" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFOPEAK\SQL2012;initial catalog=ShippingProduction;user id=sa;password=tb@2020;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AUKUPPC\SQL2014;initial catalog=Shipping;Integrated Security=true;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />
  <add name="DefaultConnection" connectionString="data source=DESKTOP-AUKUPPC\SQL2014;initial catalog=Shipping;Integrated Security=true;" />-->
    <!-- <add name="DefaultConnection" connectionString="data source=sql5033.smarterasp.net;initial catalog=db_9f57c4_shippingprod;user id=user id=db_9f57c4_shippingprod_admin;password=shipping1@#;" />
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=sql5033.smarterasp.net;initial catalog=db_9f57c4_shippingprod;user id=db_9f57c4_shippingprod_admin;password=shipping1@#;;application name=entityframework;multipleactiveresultsets=true&quot;" providerName="system.data.entityclient" /> -->
    <add name="DefaultConnection" connectionString="data source=DESKTOP-U3U6HNL\SQLEXPRESS2014;initial catalog=DB_9F57C4_ShippingTest;Integrated Security=SSPI;" />
    <!--<add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/model1.csdl|res://*/model1.ssdl|res://*/model1.msl;provider=system.data.sqlclient;provider connection string=&quot;data source=DESKTOP-U3U6HNL\SQLEXPRESS2014;initial catalog=DB_9F57C4_ShippingTest;Integrated Security=SSPI;application name=entityframework;multipleactiveresultsets=true&quot;" providerName="system.data.entityclient" />-->
    <add name="SHIPPING_FinalEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=malusoft_accounts;user id=sa;password=sql2008$;multipleactiveresultsets=True;application name=entityframework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>