@model DAL.Designation

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<section class="content-header">
    <h1 class="headingfont">
        Designation
    </h1>
</section>


<section class="content-header">
<fieldset>
    <h3 class="headingfont">Are you sure you want to delete this?</h3>

    <div class="display-label">
      @Html.Label("Designation: ")   @Html.DisplayFor(model => model.Designation1)
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-primary"/>&nbsp;&nbsp;
       <a href='@Url.Action("Index", "Designation", new { id = 0 })' class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Click here">Cancels</a>
    </p>
}

</section>