<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <a href="http://accounts.malusoftindia.com/" target="_blank"><img height="70" width="170" style="-webkit-user-select: none; margin-left:0px" src="http://accounts.malusoftindia.com/Content/img/logo_truebookNew.png"></a>
    <div style="font-family:Helvetica,Verdana,Arial,sans-serif;font-size:17px;line-height:21px;color:#464958;padding-left:19px;padding-right:30px">
        Hi @username ,<br>
        <table cellspacing="0" cellpadding="0"><tbody><tr><td height="14" style="line-height:14px"></td></tr></tbody></table>
        @Message

        <br />


        <br />
        <span>Thanks,</span>
        <br />
        <a href="http://accounts.malusoftindia.com/" target="_blank"><img style="margin-left:0px; -webkit-user-select: none" src="http://accounts.malusoftindia.com/Content/img/logo_truebookNew.png" width="95" height="50"></a>
        <br />
        <a style="margin-left:0px; font-size:14px; font-family:'Ruda',sans-serif " href="http://accounts.malusoftindia.com/" target="_blank">Click here to go Shipping System</a>
    </div>
</body>

</html>
