@import url('font-face.css');
/* RadComboBox Custom skin */

/*global*/

.RadComboBox_Green .rcbInputCell .rcbInput
{
    width: 100%;
    background: transperant;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 0px 0 0px;
    outline: 0;
    -webkit-appearance: none;
}

.RadComboBox_Green, .RadComboBox_Green .rcbInput, .RadComboBoxDropDown_Green
{
    font-family: 'open_sanslight';
    min-height: 32px;
    font-size: 14px;
    color: #000000;
    background-color: #fff;
}

/* combobox */


.RadComboBox_Green .rcbInputCellLeft, .RadComboBox_Green .rcbInputCellRight
{
    /*	background-image: url('ComboBox/rcbSprite.png'); 	_background-image: url('ComboBox/rcbSpriteIE6.png');	*/ /* background-image: url('../../Images/ddl2.png');     background-repeat: no-repeat;*/
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 0px solid #fff !important;
}
.RadComboBox_Green .rcbArrowCellLeft, .RadComboBox_Green .rcbArrowCellRight
{
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    border-left: 0px solid #fff !important;
    border-right: 1px solid #ccc !important;
}
/*
.RadComboBox_Green td.rcbInputCellLeft
{
    background-position: 0 -154px;
}
.RadComboBox_Green td.rcbInputCellRight
{
    background-position: 100% -154px;
}

.RadComboBox_Green .rcbHovered td.rcbInputCellLeft
{
    background-position: 0 -154px;
}
.RadComboBox_Green .rcbHovered td.rcbInputCellRight
{
    background-position: 100% -154px;
}

.RadComboBox_Green .rcbFocused td.rcbInputCellLeft
{
    background-position: 0 -154px;
}
.RadComboBox_Green .rcbFocused td.rcbInputCellRight
{
    background-position: 100% -154px;
}

.RadComboBox_Green .rcbReadOnly .rcbInputCellLeft
{
    background-position: 0 0;
}
.RadComboBox_Green .rcbReadOnly .rcbInputCellRight
{
    background-position: 100% 0;
}

.RadComboBox_Green .rcbHovered .rcbReadOnly td.rcbInputCellLeft
{
    background-position: 0 -22px;
}
.RadComboBox_Green .rcbHovered .rcbReadOnly td.rcbInputCellRight
{
    background-position: 100% -22px;
}

.RadComboBox_Green .rcbFocused .rcbReadOnly td.rcbInputCellLeft
{
    background-position: 0 -44px;
}
.RadComboBox_Green .rcbFocused .rcbReadOnly td.rcbInputCellRight
{
    background-position: 100% -44px;
}
*/
.RadComboBox_Green .rcbInputCell .rcbEmptyMessage
{
    color: #ccc;
}

.RadComboBox_Green .rcbHovered .rcbInputCell .rcbInput
{
    color: #000000;
}

.RadComboBox_Green .rcbDisabled .rcbInputCell .rcbInput
{
    color: #6f6f6f;
}

.RadComboBox_Green td.rcbArrowCellLeft
{
    /*background-position: -18px -88px;*/
    background: trasparant;
}
.RadComboBox_Green td.rcbArrowCellRight
{
    /*background-position: 0 -88px;*/
    background: none;
    background-color: transparent;
}

.RadComboBoxDropDown .rcbTemplate
{
    height: 22px !important;
}
/*
.RadComboBox_Green .rcbHovered .rcbArrowCellLeft
{
    background-position: -54px -88px;
}
.RadComboBox_Green .rcbHovered .rcbArrowCellRight
{
    background-position: -36px -88px;
}

.RadComboBox_Green .rcbFocused .rcbArrowCellLeft
{
    background-position: -90px -88px;
}
.RadComboBox_Green .rcbFocused .rcbArrowCellRight
{
    background-position: -72px -88px;
}

.RadComboBox_Green td.rcbArrowCellHidden, .RadComboBox_Green .rcbHovered td.rcbArrowCellHidden, .RadComboBox_Green .rcbFocused td.rcbArrowCellHidden
{
    background-position: 100% -154px;
}

.RadComboBox_Green_rtl td.rcbArrowCellHidden, .RadComboBox_Green_rtl .rcbHovered td.rcbArrowCellHidden, .RadComboBox_Green_rtl .rcbFocused td.rcbArrowCellHidden
{
    background-position: 0 -154px;
}
*/
/* Read-only styles */
/*
.RadComboBox_Green .rcbReadOnly td.rcbArrowCellLeft
{
    background-position: -18px -88px;
}
.RadComboBox_Green .rcbReadOnly td.rcbArrowCellRight
{
    background-position: -2px -88px;
}

.RadComboBox_Green .rcbHovered .rcbReadOnly .rcbArrowCellLeft
{
    background-position: -54px -88px;
}
.RadComboBox_Green .rcbHovered .rcbReadOnly .rcbArrowCellRight
{
    background-position: -38px -88px;
}

.RadComboBox_Green .rcbFocused .rcbReadOnly .rcbArrowCellLeft
{
    background-position: -90px -88px;
}
.RadComboBox_Green .rcbFocused .rcbReadOnly .rcbArrowCellRight
{
    background-position: -74px -88px;
}

.RadComboBox_Green .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -15px -88px;
}
.RadComboBox_Green .rcbHovered .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -51px -88px;
}
.RadComboBox_Green .rcbFocused .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -87px -88px;
}

.RadComboBox_Green_rtl .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -18px -88px;
}
.RadComboBox_Green_rtl .rcbHovered .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -54px -88px;
}
.RadComboBox_Green_rtl .rcbFocused .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -90px -88px;
}
*/
/* dropdown */

.RadComboBoxDropDown_Green .rcbHeader, .RadComboBoxDropDown_Green .rcbFooter, .RadComboBoxDropDown_Green .rcbMoreResults, .RadComboBoxDropDown_Green .rcbMoreResults a
{
    /*   background-image: url('ComboBox/rcbSprite.png');     _background-image: url('ComboBox/rcbSpriteIE6.png');*/
}

.RadComboBoxDropDown_Green
{
    border-color: #fff;
}

.RadComboBoxDropDown_Green .rcbList
{
    list-style: none outside;
    position: relative;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background-color: #ffffff;
}

.RadComboBoxDropDown_Green .rcbList .rcbItem
{
    font: normal 14px/32px 'open_sanslight';
    color: #000000;
}
.RadComboBoxDropDown_Green .rcbList .rcbHovered
{
    background-color: #237116;
    font: normal 14px/32px 'open_sanslight';
    color: #ffffff;
}

.RadComboBoxDropDown_Green .rcbHeader, .RadComboBoxDropDown_Green .rcbFooter
{
    background-color: #f1f2f4;
    background-position: 0 -110px;
}

.RadComboBoxDropDown_Green .rcbHeader
{
    border-bottom-color: #ccc;
}

.RadComboBoxDropDown_Green .rcbFooter
{
    border-top-color: #ccc;
}

.RadComboBoxDropDown_Green .rcbItem em
{
    background-color: #000000;
    color: #ffffff;
}

.RadComboBoxDropDown_Green .rcbHovered
{
    background: #2e2e2e;
    color: #9eda29;
}

.RadComboBoxDropDown_Green .rcbCheckAllItems, .RadComboBoxDropDown_Green .rcbCheckAllItemsHovered
{
    color: #ffffff;
    background-color: #2e2e2e;
    background-position: 0 -20px;
}
.RadComboBoxDropDown_Green .rcbCheckAllItemsHovered
{
    color: #9eda29;
    background-position: 0 -20px;
}

.RadComboBoxDropDown_Green .rcbSeparator
{
    background: #2e2e2e;
    color: #fff;
}

.RadComboBox_Green .rcbDisabled .rcbInputCell .rcbInput, .RadComboBoxDropDown_Green .rcbDisabled
{
    color: #999;
}

.RadComboBox_Green .rcbDisabled td.rcbInputCellLeft
{
    background-position: 0 -66px;
}
.RadComboBox_Green .rcbDisabled td.rcbInputCellRight
{
    background-position: 100% -66px;
}
.RadComboBox_Green .rcbDisabled td.rcbArrowCellLeft
{
    background-position: -126px -88px;
}
.RadComboBox_Green .rcbDisabled td.rcbArrowCellRight
{
    background-position: -108px -88px;
}
.RadComboBox_Green .rcbDisabled .rcbReadOnly td.rcbArrowCellRight
{
    background-position: -110px -88px;
}
.RadComboBox_Green table.rcbDisabled td.rcbArrowCellHidden, .RadComboBox_Green .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: -123px -88px;
}
.RadComboBox_Green_rtl table.rcbDisabled td.rcbArrowCellHidden, .RadComboBox_Green_rtl .rcbDisabled .rcbReadOnly td.rcbArrowCellHidden
{
    background-position: 0 -66px;
}

.RadComboBoxDropDown_Green .rcbLoading
{
    background: #f0f0f0;
}

.RadComboBoxDropDown_Green .rcbMoreResults
{
    border-top-color: #3a3a3a;
    background-position: 0 -132px;
    background-color: #454545;
    color: #fff;
}

.RadComboBoxDropDown_Green .rcbMoreResults a
{
    background-position: -157px -94px;
}

.RadComboBox_Green .rcbArrowCell a
{
    background: url('../../Images/ddlArrow.png');
    background-repeat: no-repeat;
    background-position: right;
}
/*
div.RadComboBox_Green table
{
    border-collapse: separate !important;
    border-spacing: 0 !important;
}

div.RadComboBox_Green table td.rcbArrowCell
{
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px; 
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px; 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
*/

