@import url('font-face.css');
/* RadMenu Default skin */

.RadMenu_Green /*Root item image*/
{
	border: 0px solid #485564;
	background: #485564 ;/*url(Menu/MainItemBackground.gif) repeat-x top left;*/
	text-align: left;
}

.RadMenu_Green_rtl
{
	text-align: right;
}

.RadMenu_Green_Context
{
	background: none;
	border: 0;
}

.RadMenu_Green a
{
	text-decoration: none;
}

.RadMenu_Green .rmLink /*Root item style*/
{    
	text-decoration:none;
	color: #FFF;
	line-height: 64px;	
	border-left: 1px solid #485564;
	border-right: 1px solid #485564;
}

.RadMenu_Green .rmLink:focused,
.RadMenu_Green .rmFocused
{
	outline: 0;
}

.RadMenu_Green .rmExpanded
{
	z-index: 10000;
}

.RadMenu_Green .rmRootGroup .rmLink:hover,
.RadMenu_Green .rmRootGroup .rmFocused,
.RadMenu_Green .rmRootGroup .rmExpanded /* item hower style*/
{
	font-weight: normal;
}

.RadMenu_Green .rmRootGroup .rmLink .rmText /*Root level Item style*/
{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.RadMenu_Green .rmGroup
{
	background-color:#485564;
	border: solid 1px #485564;
}

.RadMenu_Green .rmGroup .rmLink /*Child Item Menu style*/
{
	background-color:#485564;
	line-height:20px;
	text-align: left;
	color:#fff;
}

.RadMenu_Green_rtl .rmGroup .rmLink
{
	text-align: right;
}

.RadMenu_Green .rmGroup .rmLink:hover, /*Child Item Hower effect*/
.RadMenu_Green .rmGroup .rmFocused,
.RadMenu_Green .rmGroup .rmExpanded
{
	background-color:#C1CC2C;
	font-weight: normal;
	color:#fff;
}

.RadMenu_Green .rmText /*Set child item margin and padding.*/
{
	border:none;
	padding-left: 12px;
}

.RadMenu_Green .rmGroup .rmLink .rmText /*Child item font size*/
{
	font-size: 14px;
	padding: 4px 24px;
}

/* <expand arrows styling> */

.RadMenu_Green .rmGroup .rmLink .rmExpandRight
{
	background: #485564 url('Menu/right.gif') right no-repeat;
}

.RadMenu_Green .rmGroup .rmLink .rmExpandLeft
{
	border:none;
	background: #485564 url('Menu/left.gif') center center no-repeat;
	width:15px;
}

.RadMenu_Green .rmGroup .rmLink:hover .rmExpandRight,/*On hover of the child items what will be the arrow image.*/
.RadMenu_Green .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Green .rmGroup .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/right.gif) right center no-repeat;
}

.RadMenu_Green .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Green .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Green .rmGroup .rmExpanded .rmExpandLeft
{
	background:transparent url(Menu/left.gif) right center no-repeat;
}


.RadMenu_Green_rtl .rmGroup .rmLink .rmExpandRight
{
	background:transparent url(Menu/right.gif) right center no-repeat;
}

.RadMenu_Green_rtl .rmGroup .rmLink .rmExpandLeft
{
	background:transparent url(Menu/left.gif) right center no-repeat;
}

.RadMenu_Green_rtl .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_Green_rtl .rmGroup .rmFocused .rmExpandRight,
.RadMenu_Green_rtl .rmGroup .rmExpanded .rmExpandRight
{
	background:transparent url(Menu/right.gif) right center no-repeat;
}

.RadMenu_Green_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_Green_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_Green_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background:transparent url(Menu/left.gif) right center no-repeat;
}

/* </expand arrows styling> */

.RadMenu_Green .rmHorizontal .rmItem { border-right: 1px solid #353535; }
.RadMenu_Green .rmHorizontal .rmLast { border-right: 0; }

.RadMenu_Green .rmVertical .rmItem { border-bottom: 1px solid #353535; }
.RadMenu_Green .rmVertical .rmLast { border-bottom: 0; }

.RadMenu_Green_rtl .rmHorizontal .rmItem { border-left: 0; }

.RadMenu_Green .rmRootGroup .rmGroup .rmItem { border-right: 0; border-bottom: 0; }

.RadMenu_Green .rmGroup
{
	border:none;
}

.RadMenu_Green .rmGroup .rmExpanded
{
	z-index: 11;
}

.RadMenu_Green .rmTopArrowDisabled,
.RadMenu_Green .rmBottomArrowDisabled,
.RadMenu_Green .rmLeftArrowDisabled,
.RadMenu_Green .rmRightArrowDisabled
{
	display: none;
}

.RadMenu_Green .rmTopArrow,
.RadMenu_Green .rmBottomArrow,
.RadMenu_Green .rmLeftArrow,
.RadMenu_Green .rmRightArrow
{
	font-size: 0;
	line-height: 0;
	color: #fff;
}

.RadMenu_Green .rmTopArrow,
.RadMenu_Green .rmBottomArrow
{
	height: 10px;
	width: 100%;
	background: #fff url(Menu/ArrowScrollUpDown.gif) no-repeat top center;
}

.RadMenu_Green .rmBottomArrow
{
	background-position: center -18px;
}

.RadMenu_Green .rmLeftArrow,
.RadMenu_Green .rmRightArrow
{
	width: 10px;
	height: 100%;
	background: #9B9B9B url(Menu/ArrowScrollLeftRight.gif) no-repeat left center;
}

.RadMenu_Green .rmRightArrow
{
	background-position: -18px center;
}

.RadMenu_Green .rmRootGroup .rmItem .rmDisabled .rmText,
.RadMenu_Green .rmGroup .rmItem .rmDisabled .rmText
{
	color: #999;
}

.RadMenu_Green .rmRootGroup .rmItem .rmDisabled
{
	background: none;
}

.RadMenu_Green .rmGroup .rmItem .rmDisabled
{
	background-color: #fff;
}

.RadMenu_Green .rmRootGroup .rmSeparator
{
	background: #8f8f8f;
	border-top: 1px solid #676767;
}

.RadMenu_Green .rmRootGroup .rmSeparator .rmText
{
	display: none;
}

.RadMenu_Green .rmHorizontal .rmSeparator
{
	height: 20px;
	width: 1px;
	/*line-height: 20px;*/
	border: 0;
	
}

.RadMenu_Green .rmVertical .rmSeparator
{
	height: 1px;
	margin: 3px 0;
	border: 0;
	line-height: 1px;
}

.RadMenu_Green .rmSlide
{
	margin: -1px 0 0 -1px !important;
}

* html .RadMenu_Green .rmVertical .rmSlide
{
	margin-left: -2px !important;
}

* html .RadMenu_Green .rmHorizontal .rmSlide
{
	margin-top: -2px !important;
}

.RadMenu_Green_rtl .rmSlide
{
	margin: -1px 0 0 2px !important;
}

* html .RadMenu_Green_rtl .rmVertical .rmSlide
{
	margin-left: 3px !important;
}

* html .RadMenu_Green_rtl .rmHorizontal .rmSlide
{
	margin-top: -2px !important;
	margin-left: 0 !important;
}

.RadMenu_Green .rmRootGroup .rmItem .rmDisabled:hover
{
	background: none;
}