@model DAL.Vessel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
    }


<section class="content-header">
    <h1 class="headingfont">
        Vessel
    </h1>
</section>

<section class="content-header">
    <fieldset>
   <h3 class="headingfont">Are you sure you want to delete this?</h3>

    <div class="display-label">
        @Html.Label("Vessel: ") @Html.DisplayFor(model => model.Vessel1)
    </div>
   
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-primary"/>&nbsp;&nbsp;
        <a href='@Url.Action("Index", "Vessel", new { id = 0 })' class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
    </p>
}

</section>