@model DAL.Voyage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_TrueBookMstr.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Voyage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Voyage1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voyage1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VoyageID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
