@model DAL.UserRegistration
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Triangle | Loging</title>
<link rel="shortcut icon" href="~/Content/img/fav.png" type="image/x-icon">
<link rel="icon" href="~/Content/img/fav.png" type="image/x-icon">

<!-- Bootstrap -->
@*<link href="css/bootstrap.min.css" rel="stylesheet">*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login/style.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Nunito|Roboto:400,700" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    
</head>
<body>

<div class="header clearfix">
 
 <div class="container">
  <a href="index.html" class="logo"></a>
  <div class="rightlogoarea">
   <p>Licenced to:</p>
   <a href="#" class="rightlogo"></a>
  </div>
 
 </div>

</div>

<div class="bgarea">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-7">
        
    <div><img src="/img/img.jpg" class="img-responsive" /></div>
  
   
   </div>
   <div class="col-lg-4 col-md-5">
     
     <div class="loginbox">
      <h6>Log in </h6>
     @using (@Html.BeginForm("", "", FormMethod.Post, new { @class = "login clearfix", @role = "form" }))
     {
            <div class="input-group">
          
                @Html.TextBoxFor(model=>model.UserName,new {@class="form-control login",@placeholder="User Name:"})
            </div>
             
            <div class="input-group">
               @Html.TextBoxFor(model=>model.Password,new {@class="form-control pwd",@placeholder="Password:"})
            </div>
          <div class="input-group">
              <select class="form-control branch" id="branch">
  <option>Branch:</option>
  <option>Opal Shipping (Dubai)</option>
  </select>
            </div>
          
          <div class="input-group">
              <select class="form-control year" id="year">
  <option>Financial Year:</option>
 
  <option>01 Jan 2016 - 31 Dec 2016</option>
</select>
            </div>
          
          
           
          
            <span class="submit">
            <input class="loginbtn" type="submit" value="Log in">
            </span>
          
        
            
         
     }
      
    </div>
     
     
     
   </div>
  
  </div>
 
 <div class="row bottommarea">
  <div class="col-sm-12">
  
   <h4>Work Smarter</h4>
   <p>
   Triangle Soft Is a "software products and services" company specialised in developing and supporting industry
specific commercial applications. Shipping and Freight Forwarding System is one of our flagship products for freight forwarding industry. The system is
bundled with Operations, Finance and Electronic Data Interchange (EDI) modules along with various MIS reports.
   </p>
  </div>
 </div>
 
 
 
 </div>


</div>

<div class="footer">
 <div class="container">Copyright &copy; 2016 Trianglesoft. All rights reserved.</div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<!-- Include all compiled plugins (below), or include individual files as needed --> 
@*<script src="js/bootstrap.min.js"></script>*@ 




    <script src="~/Content/login/owl.carousel.min.js"></script>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true
            },
            370: {
                items: 2,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 4,
                nav: true,
                loop: true
            }
        }
    })
</script>
    
</body>
</html>