@{
    Layout = "~/Views/Shared/FormattedLayout.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ArrivalReport</title>
</head>
<body>
  <div id="Arrival">
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
</body>
</html>
